@use '@angular/material' as mat;

// Variables
$status-online-color: var(--mat-sys-on-secondary-container);
$status-offline-color: red;

// Status Icon Styles
.wifi {
  @include mat.icon-overrides((color: $status-online-color,
    ));
}

.wifi-off {
  @include mat.icon-overrides((color: $status-offline-color,
    ));
}


// Layout
.spacer {
  padding-inline-start: .7rem;
  flex: 1;
}

mat-toolbar {
  max-width: 1620px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: .7rem;
  width: calc(100% - 1rem);
  font-size: 16px;

  a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    font-weight: 400;

    &:hover {
      background: linear-gradient(to left, #bf57e2, #f52718);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }
}


// Logo
.logo {
  display: flex;
  align-items: center;
  overflow: hidden;

  img {
    height: 80px;
    width: auto;
    object-fit: contain;
  }
}


// Chip Styles
.status-chip {
  @include mat.chips-overrides((outline-color: transparent,
      label-text-size: 16px,
    ));
}

.chip-content {
  display: flex;
  align-items: center;

  @media screen and (min-width: 601px) {
    gap: 4px;
  }
}


// Status Labels
.status {
  font-size: 16px;
  font-weight: 500;
}

.status-online {
  color: $status-online-color;
}

.status-offline {
  color: $status-offline-color;
}


// Divider
mat-divider {
  @include mat.divider-overrides((color: var(--mat-sys-on-secondary-container),
    ));
  margin: 0 .7rem;
}


// Icons
mat-icon, span.status {
  background: linear-gradient(to left, #bf57e2, #f52718);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}