@let online = isOnline();

<mat-toolbar>
  <span class="logo">
    <img src="/pwa-logo.png" alt="Logo image" />
  </span>

  <span class="spacer">
    <nav>
      <mat-chip class="status-chip">
        <a routerLink="/">Home</a>
      </mat-chip>
      <mat-chip class="status-chip">
        <a routerLink="/products">Products</a>
      </mat-chip>
    </nav>
  </span>

  <mat-divider [vertical]="true" [style.height]="'32px'"></mat-divider>

  <div [ngClass]="online ? 'wifi' : 'wifi-off'">
    <mat-chip class="status-chip">
      <span class="chip-content">
        <mat-icon>{{ online ? 'wifi' : 'wifi_off' }}</mat-icon>
        <span
          class="status"
          [ngClass]="{
            'status-online': online,
            'status-offline': !online
          }"
        >
          {{ isMobile() ? '' : (online ? 'Online' : 'Offline') }}
        </span>
      </span>
    </mat-chip>
  </div>
</mat-toolbar>

<div class="base-container">
  <router-outlet></router-outlet>
</div>
