@if (wifi()) {
  <div class="online">Online</div>

    @if (products$ | async; as products) {
      @for (product of products; track product.id) {
        <h1>{{ product.id }}</h1>
        <h1>{{ product.name }}</h1>
        <h1>{{ product.description }}</h1>
      }
      @empty {
        <p>No products available.</p>
      }
    }
  
} @else {
  <h3>No established network connection... Would you like to switch to Offline Mode?</h3>
  <button class="online" (click)="switchToStorage.set(!switchToStorage())">Switch to Storage</button>

  @if(switchToStorage()){
    <h1>Data from storage</h1>
    @for (product of products(); track product.id) {
      <h1>{{ product.id }}</h1>
      <h1>{{ product.name }}</h1>
      <h1>{{ product.description }}</h1>
    }@empty {
      <p>No products available.</p>
    }
  }
}
