@use '@angular/material' as mat;

.table-wrapper {
  max-height: calc(100dvh - 170px);
  max-width: 100vw;
  width: 100%;
  overflow-x: auto;
}

.update {
  @include mat.button-overrides((text-label-text-color: var(--mat-sys-secondary),
    ));


}

.delete {
  @include mat.button-overrides((text-label-text-color: var(--mat-sys-error),
    ));

}


.description-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}