.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.08);
  animation: animate 60s linear infinite, changeColor 80s ease-in-out infinite, changeBoxShadowColor 80s ease-in-out infinite;

  bottom: -150px;
  box-shadow: 0px 0px 40px 8px rgba(255, 255, 255, 0.08);
  border-radius: 50%;
}

/* Example right-side positions */
.circles li:nth-child(1) {
  left: 65%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 75%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 80%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 60%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 85%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 90%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 65%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 80%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 90%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* Animate position / rotation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 45%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Soft, pastel rainbow transitions */
@keyframes changeColor {
  0% {
    background-color: rgba(173, 216, 230, 0.08);
  }

  /* light blue */
  25% {
    background-color: rgba(221, 160, 221, 0.08);
  }

  /* plum */
  50% {
    background-color: rgba(144, 238, 144, 0.08);
  }

  /* light green */
  75% {
    background-color: rgba(255, 182, 193, 0.08);
  }

  /* light pink */
  100% {
    background-color: rgba(173, 216, 230, 0.08);
  }
}

@keyframes changeBoxShadowColor {
  0% {
    box-shadow: 0 0 40px 8px rgba(173, 216, 230, 0.08);
  }

  25% {
    box-shadow: 0 0 40px 8px rgba(221, 160, 221, 0.08);
  }

  50% {
    box-shadow: 0 0 40px 8px rgba(144, 238, 144, 0.08);
  }

  75% {
    box-shadow: 0 0 40px 8px rgba(255, 182, 193, 0.08);
  }

  100% {
    box-shadow: 0 0 40px 8px rgba(173, 216, 230, 0.08);
  }
}