.animatedBackground {
  max-width: calc(100vw - 300px);
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.08);
  animation: animate 60s linear infinite, changeColor 80s ease-in-out infinite, changeBoxShadowColor 80s ease-in-out infinite;

  bottom: -150px;
  box-shadow: 0px 0px 40px 8px rgba(255, 255, 255, 0.08);
  border-radius: 50%;
}

.circles li:nth-child(1) {
  left: calc(85% - 40px);
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 50s;
}

.circles li:nth-child(2) {
  left: calc(75% - 10px);
  width: 20px;
  height: 20px;
  animation-delay: 5s;
  animation-duration: 40s;
}

.circles li:nth-child(3) {
  left: calc(33% - 10px);
  width: 20px;
  height: 20px;
  animation-delay: 10s;
  animation-duration: 60s;
}

.circles li:nth-child(4) {
  left: calc(70% - 30px);
  width: 60px;
  height: 60px;
  animation-delay: 3s;
  animation-duration: 45s;
}

.circles li:nth-child(5) {
  left: calc(78% - 10px);
  width: 20px;
  height: 20px;
  animation-delay: 7s;
  animation-duration: 55s;
}

.circles li:nth-child(6) {
  left: calc(69% - 55px);
  width: 110px;
  height: 110px;
  animation-delay: 12s;
  animation-duration: 50s;
}

.circles li:nth-child(7) {
  left: calc(8% - 75px);
  width: 150px;
  height: 150px;
  animation-delay: 15s;
  animation-duration: 65s;
}

.circles li:nth-child(8) {
  left: calc(73% - 12px);
  width: 25px;
  height: 25px;
  animation-delay: 20s;
  animation-duration: 70s;
}

.circles li:nth-child(9) {
  left: calc(74% - 8px);
  width: 15px;
  height: 15px;
  animation-delay: 8s;
  animation-duration: 60s;
}

.circles li:nth-child(10) {
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 55s;
}

/* Animate position / rotation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 45%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Soft, pastel rainbow transitions */
@keyframes changeColor {
  0% {
    background-color: rgba(173, 216, 230, 0.08);
  }

  /* light blue */
  25% {
    background-color: rgba(221, 160, 221, 0.08);
  }

  /* plum */
  50% {
    background-color: rgba(144, 238, 144, 0.08);
  }

  /* light green */
  75% {
    background-color: rgba(255, 182, 193, 0.08);
  }

  /* light pink */
  100% {
    background-color: rgba(173, 216, 230, 0.08);
  }
}

@keyframes changeBoxShadowColor {
  0% {
    box-shadow: 0 0 40px 8px rgba(173, 216, 230, 0.08);
  }

  25% {
    box-shadow: 0 0 40px 8px rgba(221, 160, 221, 0.08);
  }

  50% {
    box-shadow: 0 0 40px 8px rgba(144, 238, 144, 0.08);
  }

  75% {
    box-shadow: 0 0 40px 8px rgba(255, 182, 193, 0.08);
  }

  100% {
    box-shadow: 0 0 40px 8px rgba(173, 216, 230, 0.08);
  }
}